@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #262626;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar { width: 8px; }
body::-webkit-scrollbar-thumb {
  background-color: #f2f5f9;
  border-radius: 8px;
}

.appWrapper {
  margin: auto;
  padding: 20px 0;
  width: 70%;
  min-width: 240px;
  max-width: 570px;
}
.appWrapper > .titleToDos {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
.appWrapper > .registerNewTaskBtn {
  outline: none;
  background-color: #00b4d8;
  color: #fff;
  border: none;
  border-radius: 25px;
  margin: 20px 0;
  height: 50px;
  width: 100%;
}

.appWrapper > .taskList { list-style: none; }
.taskList .noTask {
  text-align: center;
  font-weight: 400;
}